<!DOCTYPE HTML>
<html>
<head>
<style>
</style>

	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet"  href="/images/style.css"/>
    <title>Trendings - 2019</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<p><a href="/">Main Page</a></p>

<h2>Most viewed Music 2019</h2>   

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <p align="center" id="frame"></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <p align="center" id="box"></p>
    </div>
  </div>
</div>

<script type="text/javascript">
	
$(document).ready(function() {

    var message = "[[${name}]]";
    message = message.split("]").join("");
    message = message.split("[").join("");
    message = message.split(",").join("");
    var nameArr = message.split('****')
    var d=0;
    var html = "<table font size='2' face='Times New Roman' border='1|1'>";
    html+="<tr><th> Play </th><th> Name </th><th> Views </th></tr>";
    for (var i = 0; i < nameArr.length-3; i++) {
        html+="<tr>";
        html+="<th onclick='changeImage()'><img id='imgClickAndChange"+d+"' src='/images/playbutton.jpg' alt="+nameArr[i]+" style='width:40px;height:40px;'/></th>" + "<th>"+ nameArr[i+1] + "</th>"+ "<th>"+ nameArr[i+2] + "</th>";  
        html+="</tr>";
        d++;
        i++;
        i++;
    }
    html+="</table>";
        
    document.getElementById("box").innerHTML = html;
    
    var rows = document.getElementsByTagName("img");
    for (var i = 0; i < rows.length; i++)
    {   	
    	rows[i].onclick = function() {
    		
    		var a=$(event.target).attr('alt');			        	        	   
        	if(String(a).substring(0, 3) == "htt"){ 	     		    		
    	    	message2 = String(a).split("https").join("http");	    	
    	        message2 = message2.replace("watch?v=","embed/");
    	        message=message2;
    	        document.getElementById('frame').innerHTML = "<iframe allow='autoplay' id='frame' width='840' height='480' src='"+message2+"'  frameborder='0' gesture='media' allowfullscreen></iframe>";
        	}
            };
    }
         
    var frame = " <iframe id='frame' width='840' height='480' src=";
    var message2="'https://www.youtube.com/embed/QYh6mYIJG2Y' ";
    frame+= message2 + "frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen>";
    frame+="</iframe>";
    document.getElementById("frame").innerHTML = frame;
   
   
});
   
function changeImage() {
	
	for (var ii = 0; ii < 10; ii++){
		
		var a="imgClickAndChange"+ii;
				
		if(event.target.id == a){
			document.getElementById(a).src = "/images/playbutton2.jpg";
			
			for (var j = 0; j < 10; j++){
				if(j!=ii){
					var b="imgClickAndChange"+j;
					document.getElementById(b).src = "/images/playbutton.jpg";

				}
			}
		}
	}

}

$(".blue").on("click", function(e){
    e.preventDefault();
    
    document.getElementById('frame').innerHTML = "<iframe id='frame' width='840' height='480' src='https://www.youtube.com/embed/QYh6mYIJG2Y'></iframe>";
});


     
</script>
</body>
</html>