<!DOCTYPE HTML>
<html>
<head>
<style>
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn1 {
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn1 {
  float: left;
  width: 34%;
  text-align: center;
  padding-left: 5px;
}

.button1 {
font-size: 24px;
border-radius: 4px;
}

th, td {
  padding: 10px;
}

</style>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet"  href="/images/style.css"/>
    <title>Trendings Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p><a href="/">Main Page</a></p>
<h2>YOUTUBE VIDEOS</h2>
<div class="row">
    <div class="card">
       <div class="leftcolumn1">
   		 <div class="card">
	   	   <tr>
	        <button class="button1" type="button" onclick="function24()">24 hours</button>
	        <button class="button1" type="button" onclick="function7()">7 days</button>
	        <button class="button1" type="button" onclick="function30()">30 days</button>
	       </tr>
       		 <p align="center" id="box"></p>
	     </div>
	  </div>
       <div class="rightcolumn1">
    	<div class="card">
     	  <p align="center" id="frame"></p>
         </div>
  		</div>
    </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

<script type="text/javascript">
	
$(document).ready(function() {

    var message = "[[${name3}]]";
    message = message.split("]").join("");
    message = message.split("[").join("");
    message = message.split(",").join("");
    var nameArr = message.split('****')
    var d=0;
    var html = "<font size='3' face='Times New Roman' ><table border='1|1'>";
    html+="<tr><th> Play </th><th> Name </th><th> Views </th></tr>";
    for (var i = 0; i < nameArr.length-3; i++) {
        html+="<tr>";
        html+="<th onclick='changeImage()'><img id='imgClickAndChange"+d+"' src='/images/playbutton.jpg' alt="+nameArr[i]+" style='width:40px;height:40px;'/></th>" + "<th>"+ nameArr[i+1] + "</th>"+ "<th>"+ nameArr[i+2] + "</th>"; 
        html+="</tr>";
        d++;
        i++;
        i++;
    }
    html+="</table></font>";
        
    document.getElementById("box").innerHTML = html;
    
    var rows = document.getElementsByTagName("img");
    for (var i = 0; i < rows.length; i++)
    {   	
    	rows[i].onclick = function() {
    		
    	var a=$(event.target).attr('alt');			        	        	   
    	if(String(a).substring(0, 3) == "htt"){ 	     		    		
	    	message2 = String(a).split("https").join("http");	    	
	        message2 = message2.replace("watch?v=","embed/");
	        document.getElementById('frame').innerHTML = "<iframe id='frame' width='520' height='340' src="+message2+" frameborder='0' gesture='media' allow='autoplay; encrypted-media' allowfullscreen></iframe>";
    	}
        };
    }   
   var frame = " <iframe id='frame' width='520' height='340' src=";
   var message2="'https://www.youtube.com/embed/pQNf38kMGwI' ";
   frame+= message2 + "frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen>";
   frame+="</iframe>";
   document.getElementById("frame").innerHTML = frame;
});

function changeImage() {
	
	for (var ii = 0; ii < 10; ii++){
		
		var a="imgClickAndChange"+ii;
				
		if(event.target.id == a){
			document.getElementById(a).src = "/images/playbutton2.jpg";
			
			for (var j = 0; j < 10; j++){
				if(j!=ii){
					var b="imgClickAndChange"+j;
					document.getElementById(b).src = "/images/playbutton.jpg";

				}
			}
		}
	}

}


function function7() {
	
	 var message = "[[${name}]]";
	    message = message.split("]").join("");
	    message = message.split("[").join("");
	    message = message.split(",").join("");
	    var nameArr = message.split('****')
	var d=0;
	var html = "<font size='3' face='Times New Roman' ><table border='1|1'>";
    html+="<tr><th> Play </th><th> Name </th><th> Views </th></tr>";
    for (var i = 0; i < nameArr.length-3; i++) {
        html+="<tr>";
        html+="<th onclick='changeImage()'><img id='imgClickAndChange"+d+"' src='/images/playbutton.jpg' alt="+nameArr[i]+" style='width:40px;height:40px;'/></th>" + "<th>"+ nameArr[i+1] + "</th>"+ "<th>"+ nameArr[i+2] + "</th>"; 
        html+="</tr>";
        d++;
        i++;
        i++;
    }
    html+="</table></font>";
        
    document.getElementById("box").innerHTML = html;
    
    var rows = document.getElementsByTagName("img");
    for (var i = 0; i < rows.length; i++)
    {   	
    	rows[i].onclick = function() {
    			        	        	   
    	var a=$(event.target).attr('alt');			        	        	   
    	if(String(a).substring(0, 3) == "htt"){ 	
	    	message2 = String(a).split("https").join("http");	   	
	        message2 = message2.replace("watch?v=","embed/");
	        document.getElementById('frame').innerHTML = "<iframe id='frame' width='460' height='340' src="+message2+" frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen></iframe>";
    	}
        };
    }     
    var frame = " <iframe id='frame' width='520' height='340' src=";
    var message2="'https://www.youtube.com/embed/pQNf38kMGwI' ";
    frame+= message2 + "frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen>";
    frame+="</iframe>";
    document.getElementById("frame").innerHTML = frame;
	    
}
	
function function30() {
		
	 var message = "[[${name2}]]";
	    message = message.split("]").join("");
	    message = message.split("[").join("");
	    message = message.split(",").join("");

	    var nameArr2 = message.split('****')
	    var d=0;
	    var html = "<font size='3' face='Times New Roman' ><table border='1|1'>";
	    html+="<tr><th> Play </th><th> Name </th><th> Views </th></tr>";
	    for (var i = 0; i < nameArr2.length-3; i++) {
	        html+="<tr>";
	        html+="<th onclick='changeImage()'><img id='imgClickAndChange"+d+"' src='/images/playbutton.jpg' alt="+nameArr2[i]+" style='width:40px;height:40px;'/></th>" + "<th>"+ nameArr2[i+1] + "</th>"+ "<th>"+ nameArr2[i+2] + "</th>"; 
	        html+="</tr>";
	        d++;
	        i++;
	        i++;
	    }
	    html+="</table></font>";
	        
	    document.getElementById("box").innerHTML = html;   
	    
	    var rows = document.getElementsByTagName("img");
	    for (var i = 0; i < rows.length; i++)
	    {   	
	    	rows[i].onclick = function() {
	    			        	        	   
	    	var a=$(event.target).attr('alt');			        	        	   
	        if(String(a).substring(0, 3) == "htt"){ 	
	    	   	message2 = String(a).split("https").join("http");	   	
	    	    message2 = message2.replace("watch?v=","embed/");
	        	document.getElementById('frame').innerHTML = "<iframe id='frame' width='460' height='340' src="+message2+" frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen></iframe>";
	    	}
	        };
	    }    
	    var frame = " <iframe id='frame' width='520' height='340' src=";
	    var message2="'https://www.youtube.com/embed/pQNf38kMGwI' ";
	    frame+= message2 + "frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen>";
	    frame+="</iframe>";
	    document.getElementById("frame").innerHTML = frame; 
}

function function24() {
	
	 var message = "[[${name3}]]";
	    message = message.split("]").join("");
	    message = message.split("[").join("");
	    message = message.split(",").join("");

	    var nameArr3 = message.split('****')
	    var d=0;
	    var html = "<font size='3' face='Times New Roman' ><table border='1|1'>";
	    html+="<tr><th> Play </th><th> Name </th><th> Views </th></tr>";
	    for (var i = 0; i < nameArr3.length-3; i++) {
	        html+="<tr>";
	        html+="<th onclick='changeImage()'><img id='imgClickAndChange"+d+"' src='/images/playbutton.jpg' alt="+nameArr3[i]+" style='width:40px;height:40px;'/></th>" + "<th>"+ nameArr3[i+1] + "</th>"+ "<th>"+ nameArr3[i+2] + "</th>"; 
	        html+="</tr>";
	        d++;
	        i++;
	        i++;
	    }
	    html+="</table></font>";
	        
	    document.getElementById("box").innerHTML = html;   
	    
	    var rows = document.getElementsByTagName("img");
	    for (var i = 0; i < rows.length; i++)
	    {   	
	    	rows[i].onclick = function() {
	    			        	        	   
	    	var a=$(event.target).attr('alt');			        	        	   
	        if(String(a).substring(0, 3) == "htt"){ 	
	    	   	message2 = String(a).split("https").join("http");	   	
	    	    message2 = message2.replace("watch?v=","embed/");
	        	document.getElementById('frame').innerHTML = "<iframe id='frame' width='460' height='340' src="+message2+" frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen></iframe>";
	    	}
	        };
	    }   
	    var frame = " <iframe id='frame' width='520' height='340' src=";
	    var message3="'https://www.youtube.com/embed/pQNf38kMGwI' ";
	    frame+= message3 + "frameborder='0' gesture='media' allowscriptaccess='always' allow='autoplay; encrypted-media' allowfullscreen>";
	    frame+="</iframe>";
	    document.getElementById("frame").innerHTML = frame;
}

     
</script>

</body>
</html>